[submodule "googletest"]
	path = extlib/googletest
	url = https://github.com/google/googletest.git
[submodule "extlib/libSDL2pp"]
	path = extlib/libSDL2pp
	url = https://github.com/libSDL2pp/libSDL2pp.git
