# google test

Makefile
makefile

googletest/*
build/*
cmake-build-debug/*


*.save

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server
client

# Extra
*.pdf
.idea/*
vgcore.*
*.zip
*.dump
build/*
*/cmake-build-debug/*
*.xml
